# Ignore virtual environment directory
new_venv/
.env
*.env


# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore instance folder (configuration, DB)
instance/
uploads/

# Ignore migrations folder (optional)
migrations/



