# Ignore virtual environment directory
new_venv/

# Ignore compiled Python files
*.pyc
*.pyo
__pycache__/

# Ignore instance folder (configuration, DB)
instance/

# Ignore migrations folder (optional)
migrations/

# Ignore environment files
.env


